# ****CHI-SQUARE TEST****

### ****Association between Device Type and Customer Satisfaction**** ####

### ****Background:**** ###

Mizzare Corporation has collected data on customer satisfaction levels for two types of smart home devices: Smart Thermostats and Smart Lights. They want to determine if there's a significant association between the type of device purchased and the customer's satisfaction level.

### ****Data Provided:**** ###

The data is summarized in a contingency table showing the counts of customers in each satisfaction level for both types of devices:

![Alt text](chi_square_test.png)

### ****Objective:**** ####
To use the Chi-Square test for independence to determine if there's a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

---

import the libraries

In [107]:
import pandas as pd
import numpy as np

we are creating the dataset

In [110]:
data = {
    "Satisfaction" : ["Very Satisfied","Satisfied","Neutral","Unsatisfied","Very Unsatisfied"],
    "Smart Thermostat" : [50,80,60,30,20],
    "Smart Light" : [70,100,90,50,50]
}

In [112]:
df=pd.DataFrame(data)
df

       Satisfaction  Smart Thermostat  Smart Light
0    Very Satisfied                50           70
1         Satisfied                80          100
2           Neutral                60           90
3       Unsatisfied                30           50
4  Very Unsatisfied                20           50

info of the dataset

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Satisfaction      5 non-null      object
 1   Smart Thermostat  5 non-null      int64
 2   Smart Light       5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

---
### ****Assignment Tasks:**** ###

---
#### ****1. State the Hypotheses:**** ####

Given,

Mizarre corporation has collected the data on customer satisfaction level for two types of smart home devices and they wants to determine if there is an association between the type of device purchased and customer satisfaction level

so according to that our hypothesis are 

Null Hypothesis (H0): There is no association between the type of device  and customer statisfaction level

Alternate Hypothesis (H1): There is association between the type of device and customer statisfaction level

---

#### ****2. Compute the Chi-Square Statistic:**** ####

we are calculating chi square using chi2_contingency

In [122]:
from scipy.stats import chi2_contingency

In [124]:
contingency = df[["Smart Thermostat","Smart Light"]]
contingency

   Smart Thermostat  Smart Light
0                50           70
1                80          100
2                60           90
3                30           50
4                20           50

In [126]:
chi2_statistic,p_value,dof,expected = chi2_contingency(contingency)

In [128]:
print("Chi square statistic = ",chi2_statistic)
print("P_value = ",p_value)
print("Degrees of freedom = ",dof)
print("Expected frequency table")
print(expected)

Chi square statistic =  5.638227513227513
P_value =  0.22784371130697179
Degrees of freedom =  4
Expected frequency table
[[ 48.  72.]
 [ 72. 108.]
 [ 60.  90.]
 [ 32.  48.]
 [ 28.  42.]]

---
#### ****3. Determine the Critical Value:**** ####

Using the significance level (alpha) of 0.05 and the degrees of freedom (which is the number of categories minus 1)

---
given,

alpha = 0.05

calculating the critical value using alpha and degrees of freedom

In [132]:
alpha = 0.05
critical_value = chi2.ppf(1 - alpha,dof)
print("Critical value = ",critical_value)

Critical value =  9.487729036781154

---
#### ****4. Make a Decision:**** ####

Compare the Chi-Square statistic with the critical value to decide whether to reject the null hypothesis.

---
comparing the chi2 static and critical value to check our hypothesis

In [136]:
if chi2_statistic > critical_value :
    print("H0 is rejected and H1 is accepted")
else: print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

after comparing both we can see that alternate hypotehsis is rejected

so we can conclude that there is asssociation between the type of device purchased and customer satisfaction level 

---