### control statements ###

- if
- if else
- if elif else
- nested if

## if ##

In [9]:
age = 30
if age>=1:
    print("you are eligible for voting")

you are eligible for voting

## if else ##

In [11]:
age = 10
if age>=18:
    print("you are eligible for voting")
else:
    print("you are not eligible")

you are not eligible

## example: login ##

In [17]:
username = "abc"
pwd=5227

In [21]:
if username == "abc" and pwd==5227 :
    print("login page opened")
else:
    print("invalid")

login page opened

## if elif else ##

In [24]:
exp=2

In [26]:
if exp>=0 and exp<2:
    print("you are eligible for data analyst")
elif exp>=2 and exp<4:
    print("you are eligible for data scientist")
elif exp>=4 and exp<8:
    print("you are eligible for sr.data scientist")
elif exp>=8 and exp<12:
    print("you are eligible for ai engineer")
else:
    print("you are eligible for managers")

you are eligible for data scientist

## nested if ##

In [53]:
atm='card'
pwd=1011
bank='union'
balance=40000
withdraw=4000

In [33]:
atm='cdsv'

In [47]:
pwd=31156

In [55]:
bank='sbi'

In [57]:
if atm=='card' :
    if pwd==1011 :
        if bank=='union':
            if withdraw<balance :
                print("collect the amount")
            else:
                print("insufficient balance")
        else:
            if withdraw<3000<balance:
                print("collect the amount")
            else:
                print("enter the amount less that 2000")
    else:
        print("invalid password")
else:
    print("enter the card properly")

enter the amount less that 2000

#### loops ####
any task if we do continuously

### for ###

In [67]:
#for i in range

In [61]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [69]:
#for i in list

In [63]:
age=[23,12,45,78,21,20,18]
print(age)

[23, 12, 45, 78, 21, 20, 18]

In [65]:
for i in age:
    print(i)

23
12
45
78
21
20
18

In [71]:
sum(age)

217

In [73]:
len(age)

7

In [77]:
avg=sum(age)/len(age)
avg

31.0

In [83]:
for i in age:
    if i > avg:
        print(i)

45
78

#### functions ####
- block of code, where we can use in multiple places for diff scenarios
- two types
- predefined: already exists 
- user defined: we users will define,temporary storage

In [92]:
def sqr(x):
    return x**2

In [94]:
sqr(10)

100

In [96]:
def fun(x):
    return (2*x)+1

In [98]:
fun(2)

5

In [101]:
def eq(a,b):
    c=a+b+1
    print("if a=",a,"and b=",b,"then total is",c)

In [103]:
eq(1,2)

if a= 1 and b= 2 then total is 4