### one sample z test ###

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("C:\\Users\\dell\\DATA SCIENCE_ExcelR\\spyder\\Bulbs_Lifespan.csv")
df

    Lifespan (Hours)
0            1004.84
1             973.09
2            1012.38
3            1056.15
4             968.29
5             968.29
6            1058.96
7            1018.37
8             956.53
9            1007.13
10            956.83
11            956.71
12            992.10
13            884.34
14            893.75
15            951.89
16            929.36
17            995.71
18            934.60
19            909.38
20           1053.28
21            968.71
22            983.38
23            908.76
24            952.78
25            985.55
26            922.45
27            998.78
28            949.97
29            965.42
30            949.91
31           1072.61
32            979.33
33            927.11
34           1021.13
35            918.96
36            990.44
37            882.02
38            913.59
39            989.84

In [7]:
df["Lifespan (Hours)"].describe()

count      40.000000
mean      969.068000
std        47.640061
min       882.020000
25%       933.290000
50%       968.290000
75%       996.477500
max      1072.610000
Name: Lifespan (Hours), dtype: float64

In [9]:
from statsmodels.stats.weightstats import ztest

In [11]:
#given data
population_mean=1000 #hypothesized population mean
alpha=0.05 #level of significance

In [13]:
#step:perform one sample z test 
z_stat,p_value= ztest(df["Lifespan (Hours)"],value=population_mean,alternative='smaller') #here our problem is one sided so smaller ,if its greater its 2 sided
z_stat

-4.106441921979856

In [15]:
p_value #its probability value

2.00900214005005e-05

In [17]:
if(p_value<alpha):
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

Ho is rejected and H1 is accepted