In [1]:
import pandas as pd

In [2]:
from statsmodels.stats.weightstats import stats

In [4]:
df=pd.read_csv("C:\\Users\\dell\\DATA SCIENCE_ExcelR\\spyder\\ecommerce_two_sample_ztest_dataset.csv")
df

     Customer_ID             Group  Purchase_Value
0              1   Email Marketing       87.450712
1              2   Email Marketing       77.926035
2              3   Email Marketing       89.715328
3              4   Email Marketing      102.845448
4              5   Email Marketing       76.487699
..           ...               ...             ...
265          266  Social Media Ads       50.044336
266          267  Social Media Ads      107.648226
267          268  Social Media Ads       46.397172
268          269  Social Media Ads       66.199110
269          270  Social Media Ads       77.614812

[270 rows x 3 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer_ID     270 non-null    int64
 1   Group           270 non-null    object
 2   Purchase_Value  270 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.5+ KB

In [9]:
df.describe()

       Customer_ID  Purchase_Value
count   270.000000      270.000000
mean    135.500000       77.036707
std      78.086491       18.128913
min       1.000000       10.174653
25%      68.250000       64.302635
50%     135.500000       78.169889
75%     202.750000       87.693854
max     270.000000      152.054630

In [11]:
df["Group"].value_counts()

Group
Social Media Ads    150
Email Marketing     120
Name: count, dtype: int64

In [13]:
#given data
population_mean=1000 #hypothesized population mean
alpha=0.05 #level of significance

In [15]:
em_group=df['Purchase_Value'][df["Group"]=="Email Marketing"]
sm_group=df['Purchase_Value'][df["Group"]=="Social Media Ads"]

In [17]:
from statsmodels.stats.weightstats import ztest

In [23]:
z_stat,p_value= ztest(em_group,sm_group,alternative='two-sided') #2variables
z_stat

1.4424788254616185

In [21]:
if(p_value<alpha):
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted